{% extends 'base.html' %}
{% block title %}
{{ news_item.title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category }}</a>
                </div>
                <div class="card-body">
                    {% if news_item.photo %}
                    <img src="{{ news_item.photo.url }}" width="350" class="float-left mr-3" align="left"
  vspace="5" hspace="5">
                    {% else %}
                    <img src="https://picsum.photos/seed/picsum/350/300" class="float-left mr-3" align="left"
  vspace="5" hspace="5">
                    {% endif %}
                    <h5 class="card-title {% cycle 'text-danger' 'text-success'%}" > {{ news_item.title }} </h5>
                    <p class="card-text"> {{ news_item.content|linebreaks|safe }}</p>
                    </div>
                <div class="card-footer text-muted">
                    {{ news_item.created_at|date:"Y-m-d H:i" }}
           </div>
        </div>
    </div>
{% endblock %}

